.andImage:nth-child(even) {
    flex-direction: row-reverse !important;
}
.andImage:nth-child(even) .content {
    text-align: right;
}
.andImage:nth-child(even) .content {
    text-align: left;
}


.andImage.night .backdrop {
    background-color: var(--nightMazeAccent);
}

@media screen and (max-width: 768px) {
    .andImage:nth-child(even) {
        flex-direction: column !important;
    }
}