.pTooltip {
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.pIconTooltip {
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
}



.marker {
    background-color: var(--background);
    border-radius: 50%;
    padding: 15px;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.marker svg {
    fill: var(--accent);
}

.t {
    background-color: transparent;
}

.t svg {
    fill: var(--foreground);
}



.imgPopup>div:first-child {
    width: 200px;
    position: relative;
}

.imgPopup>div:first-child>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 1em;
}

.imgPopup span {
    font-weight: 600;
    font-size: 1.2em;
}

.imgPopup img {
    width: 200px;
    border-radius: 10px;
}

.locateButton {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 3px solid var(--foreground);
    background-color: var(--background);
    cursor: pointer;
}

.locateButton svg {
    fill: var(--foreground);
    min-width: 30px;
    min-height: 30px;
}

.locateButton:hover {
    outline: 3px solid var(--foreground);
}

.locateButton:active svg {
    scale: 0.9;
}

.locateButton:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.locateButton.loading svg {
    animation: search 2s infinite linear;
}


/* the animated ring */
@keyframes search {
    0% {
        rotate: 0deg;
    }

   
    
    100% {
        rotate: 360deg;
    }
}
