.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
}
.header h1 {
    text-align: center;
    font-size: 4rem;
    font-family: Satisfy;
}
.header span {
    font-size: 1.2rem;
    font-weight: 600;
    background-color: var(--foreground);
    color: var(--background);
    padding: 0.2em;
    align-items: center;
    align-content: center;
    display: flex;

}
.header span::before, .header span::after {
    content: "";
    display: inline-block;
    width: 1em;
    height: 3px;
    background-color: var(--background);
    margin: 0 0.5em;
}

.body h2 {
    font-size: 4rem;
    font-family: Satisfy;
}
.body p {
    font-size: 1.2rem;
}
.body p.big {
    font-size: 3rem;
}
.body ul {
    list-style: disc;
    padding-left: 2em;
}

.andImage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 1em;
    margin: auto;
}
.andImage:nth-child(even) {
    flex-direction: row-reverse;
}
.andImage > div {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--background);
    height: fit-content;
    translate: 3em;
    border-left: 3px solid var(--foreground);
}
.andImage:nth-child(even) > div {
    border-left: none;
    border-right: 3px solid var(--foreground);
    translate: -3em;
    text-align: right;
}
.andImage:nth-child(even) > div ul {
    text-align: left;
}
.andImage > img {
    height: 20em;
    min-width: 320px;
    width: 50%;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .andImage {
        flex-direction: column;
    }
    .andImage:nth-child(even) {
        flex-direction: column;
    }
    .andImage > div {
        translate: 0;
        border-left: none;
        border-right: none;
    }
    .andImage:nth-child(even) > div {
        translate: 0;
        border-left: none;
        border-right: none;
    }
    .andImage > img {
        width: 100%;
    }
}