.body ul {
    margin: 0;
    padding-left: 0 !important;
}
.body ul li {
    list-style-type: none;
}
.body a {
    color: var(--accent);
    word-break: normal;
}
.body {
    gap: 1em;
}
.body p {
    text-align: center;
}