
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
}
.header h1 {
    text-align: center;
    font-size: 4rem;
    font-family: Satisfy;
}
.header span {
    font-size: 1.2rem;
    font-weight: 600;
    background-color: var(--foreground);
    color: var(--background);
    padding: 0.2em;
    align-items: center;
    align-content: center;
    display: flex;

}
.header span::before, .header span::after {
    content: "";
    display: inline-block;
    width: 1em;
    height: 3px;
    background-color: var(--background);
    margin: 0 0.5em;
}


.activitySpread {
    display: flex;
    flex-wrap: wrap;
    gap: 0.1rem;
    padding: 1rem;
    justify-content: center;
}
.activitySpread > div {
    background-color: var(--foreground);
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    border: 0px solid var(--background);
    padding: 1em;
    border: 10px solid var(--background);
}
.activitySpread > div:hover {
    border: 0px solid var(--background);
}
.activitySpread > div h2 {
    color: var(--background);
    position: relative;
    z-index: 1;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.activitySpread > div a h2 {
    text-decoration: underline;
}
.activitySpread > div a h2:hover {
    scale: 1.05;
}
.activitySpread > div:hover a h2 {
    text-decoration-color: var(--accent);
}

.activitySpread > div h2.dark {
    color: var(--foreground);
    text-shadow: 0 0 5px var(--background);
}
.activitySpread > div h2.light {
    color: var(--background);
    text-shadow: 0 0 5px var(--foreground);
}
.activitySpread > div > .backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    filter: blur(4px);
    transition: filter 0.3s ease;
}
.activitySpread > div:hover > .backdrop {
    filter: blur(0px);
}

.largeActivity {
    flex: 1 1 600px;
    min-height: 300px;
}
.largeActivity h2 {
    font-size: 3rem;
}
.mediumActivity {
    flex: 0.5 1 300px;
    min-height: 150px;
}
.mediumActivity h2 {
    font-size: 2rem;
}
.smallActivity {
    flex: 0.25 1 150px;
    min-height: 150px;
}

@media screen and (max-width: 768px) {
    .activitySpread {
        padding: 0.1rem;
    }
    .activitySpread > div > .backdrop {
        filter: blur(2px);
    }

    .largeActivity {
        flex: 1 1 400px;
        min-height: 250px;
    }
    .largeActivity h2 {
        font-size: 2rem;
    }
    .mediumActivity {
        flex: 0.5 1 250px;
        min-height: 125px;
    }
    .mediumActivity h2 {
        font-size: 1.5rem;
    }
    .smallActivity {
        flex: 0.25 1 125px;
        min-height: 125px;
    }
}