.gallery {
    column-count: 3;
    column-gap: 25px;
    column-width: 350px;
}

.gallery > div {
    width: 100%;
    display: inline-block;
    margin-bottom: 25px;

    border-radius: 1em;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 10px 30px -3px rgba(0, 0, 0, 0.3);
    position: relative;
}
.gallery > div:hover {
    transform: scale(1.05);
}
.gallery > div > p {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    text-align: center;
    padding: 0.5em;
    color: var(--background);
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    font-size: 0.9rem !important;
}
.gallery > div:hover > p {
    opacity: 0;
}
.gallery > div img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

