.nightMaze {
    width: 100%;
    display: flex;
    gap: 0.2em;
    justify-content: center;
    flex-direction: column;
}

.nightMaze a.button {
    width: fit-content;
    gap: 1em;
    padding: 0.5em 1em;
    background-color: var(--nightMazeAccent);
    color: var(--nightMazeForeground) !important;
    font-weight: 600;
    align-self: center;
    cursor: pointer;
}

.nightMaze h2, .nightMaze p {
    color: var(--nightMazeForeground);
}

.nightMaze a.button:hover {
    background-color: var(--nightMazeForeground);
    color: var(--nightMazeAccent) !important;
}