@import "tailwindcss";

:root {
  --background: #FDFFFF;
  --foreground: #16280C;
  --accent: #E38B26;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-VariableFont_opsz,wght.ttf");
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Italic-VariableFont_opsz,wght.ttf");
  font-style: italic;
}

@font-face {
  font-family: Satisfy;
  src: url("/fonts/Satisfy-Regular.ttf");
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", Helvetica, sans-serif;
}
