@import "tailwindcss";

:root {
  --background: #FDFFFF;
  --foreground: #16280C;
  --accent: #E38B26;
  --nightMazeBackground: #714468;
  --nightMazeForeground: #fce896;
  --nightMazeAccent: #e1501d;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer utilities {
  /* Chrome, Safari, Edge, and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Firefox */
  .no-scrollbar {
    scrollbar-width: none;
  }

  /* IE and Edge */
  .no-scrollbar {
    -ms-overflow-style: none;
  }
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-VariableFont_opsz,wght.ttf");
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Italic-VariableFont_opsz,wght.ttf");
  font-style: italic;
}

@font-face {
  font-family: Satisfy;
  src: url("/fonts/Satisfy-Regular.ttf");
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", Helvetica, sans-serif;
}

.font-satisfy{
  font-family: 'Satisfy';
}

.standard-backdrop{
  @apply bg-gradient-to-b from-black/70 via-black/50 to-black/70
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
  text-align: center;
  gap: 0.5rem;
  border-bottom: 1px solid var(--color-gray-200);
  padding-bottom: calc(var(--spacing) * 8);
  background-image: linear-gradient(to top, var(--color-gray-200) -20%, transparent 20%);
}

.header h1 {
  text-align: center;
  font-size: 4rem;
  font-family: Satisfy;
}

.header span {
  font-size: 1.2rem;
  font-weight: 600;
  background-color: var(--foreground);
  color: var(--background);
  padding: 0.2em;
  align-items: center;
  align-content: center;
  display: flex;

}

.header span::before,
.header span::after {
  content: "";
  display: inline-block;
  width: 1em;
  height: 3px;
  background-color: var(--background);
  margin: 0 0.5em;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 2em;
  max-width: 1300px;
  margin: auto;
  padding: 0 2em;
}

.body.basic h2 {
  font-size: 4rem;
  font-family: Satisfy;
}

.body.basic h3 {
  font-size: 2rem;
  font-family: Satisfy;
}

.body.basic p {
  font-size: 1.2rem;
}

.body.basic p.big {
  font-size: 3rem;
}

.body.basic ul {
  list-style: disc;
  padding-left: 2em;
  text-align: left;
}

.body.basic ol {
  list-style: decimal;
  text-align: left;
}

.basic a {
  color: var(--accent);
  text-decoration: none;
  word-break: break-all;
}

.basic a:hover {
  text-decoration: underline;
}

.body.basic section>h2 {
  font-size: 3rem;
  text-align: center;
}

.body.basic section>.description {
  font-size: 1.2rem;
  text-align: center;
}

.basic a.button {
  width: fit-content;
  gap: 1em;
  padding: 0.5em 1em;
  background-color: var(--accent);
  color: var(--background) !important;
  font-weight: 600;
  align-self: center;
  cursor: pointer;
  margin: 1em auto;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

/* -- Fullcalendar -- */
.fc .fc-daygrid-event {
  font-size: 0.75rem;
  padding: 2px 4px;
  border-radius: 0.375rem;
}
.fc-view-harness, .fc-daygrid, .fc-scrollgrid, .fc-scrollgrid-section, .fc-scroller-harness, .fc-scroller, .fc-daygrid-body, .fc-scrollgrid-sync-table, .fc-toolbar  {
  width: 100% !important;
  
  min-width: 500px !important;
}

  /* gridlines */
.fc-theme-standard td, .fc-theme-standard th, .fc-theme-standard .fc-scrollgrid {
  @apply border-background/30
}

  /* buttons */
.fc .fc-button {
  @apply bg-accent border-foreground/30 font-bold text-background hover:bg-[#ff9d2d] focus:bg-[#ff9d2d]
}

.fc .fc-button-primary:not(:disabled).fc-button-active {
  @apply bg-[#c27620]
}

  /* day headers */
.fc .fc-scrollgrid-section-sticky > * {
  @apply bg-background/20
}


@media screen and (max-width: 768px) {
  .body.basic {
    padding: 0.5em;
  }

  .body.basic h2 {
    font-size: 2.5rem;
  }



  .body.basic p {
    font-size: 1em;
  }

}