.wrapper summary {
    font-size: 1.4em;
    font-weight: 600;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 0.5em;
    position: relative;
    overflow: hidden;
}
.wrapper summary::before {
    content: "Q";
    position: absolute;
    font-size: 4.5em;
    font-weight: 800;
    opacity: 0.1;
    left: 0;
    color: var(--foreground);
    font-family: Satisfy;
    transition: rotate 0.4s ease-out;
}
.wrapper details[open] summary::before {
    rotate: 15deg;
}
.wrapper summary > svg {
    min-width: 2em;
    min-height: 2em;
    width: 2em;
    height: 2em;
    fill: var(--accent);
    transition: transform 0.3s ease;
}
.wrapper details[open] summary > svg {
    transform: scaleY(-1);
}

.wrapper details {
    border-bottom: 2px solid var(--foreground);
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    padding: 0.5em;
    padding-left: 1.5em;
    gap: 1em;
    font-size: 1.4em;
    position: relative;
    align-items: center;
    overflow: hidden;
}

.content a {
    color: var(--accent);
    cursor: pointer;
}
.content a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    .wrapper summary {
        font-size: 1em;
    }
    .content {
        font-size: 1em;
        padding-left: 0.5em;
    }
}

