.wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    background-color: var(--foreground);
    color: var(--background);
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.brand {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    gap: 1em
}

.socials {
    display: flex;
    gap: 1em;
}

.socials svg {
    fill: var(--background);
    width: 2em;
    height: 2em;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin: 1em 0;
    padding: 0 1em;
}
.list h2 {
    font-size: 1.2em;
    font-weight: 600;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    border-bottom: 3px solid var(--accent);
    opacity: 0.7;
}
.list a {
    text-decoration: none;
    color: var(--background);
    opacity: 0.7;
}
.list a:hover {
    opacity: 1;
}
.list:hover h2 {
    opacity: 1;
}

.contactSec {
    display: flex;
    padding: 2em;
    justify-content: center;
    align-items: center;
}
.contactSec a {
    padding: 0.5em 1em;
    border: 3px solid var(--background);
    height: fit-content;
    font-weight: 600;
    opacity: 0.7;
    white-space: nowrap;
}
.contactSec a:hover {
    opacity: 1;
}

.bottom {
    display: flex;
    flex-direction: row;
    border-top: 1px solid var(--accent);
    padding: 0.5em 1em;
    justify-content: space-between;
    gap: 1em;
    flex-wrap: wrap;
    align-items: center;
}