

.timeSlots {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
}
.timeSlots table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    max-width: 750px;
}
.timeSlots table th {
    text-align: center;
    font-size: 1.9em;
    font-family: Satisfy;
}
.timeSlots table td {
    text-align: center;
    border: solid var(--foreground);
    border-width: 0 1px;
    padding: 0.3em 0.6em;
    font-size: 1.3em;
}
.timeSlots table td:first-child {
    border-left: none;
}
.timeSlots table td:last-child {
    border-right: none;
}


.cta {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 2em 0;
    padding: 1em;
    border: solid var(--accent);
    border-width: 3em 0 0 1em;
}
.cta > .options {
    display: flex;
    width: 100%;
    gap: 1em;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

a.button {
    width: fit-content;
    gap: 1em;
    padding: 0.5em 1em;
    background-color: var(--accent);
    color: var(--background) !important;
    border-radius: 10px;
    font-weight: 600;

}